/* *{
    padding : 0;
    margin : 0;
}
#root{
    background-color: #ffffff;
    width : 100%;
    max-height : 100vh;
    height: 100%;
}
.app{
    max-width: 600px;
    min-height: 90vh;
    width : 100%;
    font-family: Arial, sans-serif;
    padding : 20px 20px;
    margin : 0px auto 0px;
    transition: background-color 0.3s;
    border: 1px solid rgb(197, 197, 197);
    position: relative;
}

header{
   display : flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}


header .theme{
    padding : 5px 10px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color : transparent;
    font-size: 28px;
    cursor: pointer;
}

header .dark.theme{
    color : yellow;
}
header .light.theme{
    color : rgb(255, 166, 0)
}
.task-input{
    display: flex;
    margin-bottom: 20px;
}

.task-input input{
    flex : 1;
    padding : 10px;
    border : 1px solid #ccc;
    border-radius: 4px;
    margin-right : 10px;
}

.task-input button{
    padding : 10px 20px;
    border : none;
    background-color: #007bff;
    color : white;
    border-radius: 4px;
    cursor: pointer;
}
.task-list{
    list-style-type : none;
    width : 100%;
    max-height: 400px;
    overflow: scroll;
}

.task-list::-webkit-scrollbar{
  width: 12px; 
}

.task-list::-webkit-scrollbar-thumb {
  background-color: rgb(134, 134, 134);
  border-radius: 10px; 
}

.task-list::-webkit-scrollbar-track {
  background-color: transparent
}
.task-list::-webkit-scrollbar-corner{
    background-color: none;
}



.task-list li{
    display : flex;
    align-items : center;
    justify-content: space-between;
    padding : 10px;
    border : 1px solid #ccc;
    border-radius: 4px;
    margin-bottom : 10px;
    transition : background-color 0.3s;
}

.task-list li.completed .task-text{
    text-decoration: line-through
}

.task-list .task-text{
    flex-grow: 1;
    margin-right : 10px;
    border : none;
    background-color: transparent;
    font-size: 18px;
}

.task-list .task-actions button{
    margin-left: 10px;
    border : none;
    background-color:#007bff;
    color : white;
    padding : 5px 10px;
    border-radius:  4px;
    cursor: pointer;
}

footer{
    display : flex ;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}

footer button{
    border : none;
    background-color: #dc3545;
    color : white;
    padding : 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.app.light{
    background-color: white;
    color : black;
}

.app.dark{
    background-color: #333;
    color : white
}
.app.dark .task-list li{
    background-color: #444;
    border-color : #555;
}

.app.dark .task-list input{
    background-color: transparent ;
    border-color : #666;
    color: white;
}

.app .task-list input:focus , .app .task-input input{
    outline: none;
}

.app.dark .task-input button,
.app.dark .task-actions button,
.app.dark footer button {
    background-color: #555;
} */

body{
    width : 100%; 
    font-family: Arial, sans-serif;
    background-color: red;
}

#root{
     height: 100vh;
    background-color: #ffffff;
    position: relative;
    display: flex;
    justify-content: center;
}

*{
    padding : 0;
    margin :0;
}

.app{
     max-width:  600px;
     width : 100%;
     border: 1px solid #ccc;
     padding : 30px;
     background-color: #ffffff;
     position : absolute;
     bottom :0;
     top:0;
}
header{
    width : 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header button{
    /* padding : 10px 20px; */
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    border: none;
    margin-right : 20px;
    color : orange;
}

.task-input{
    display: flex ;
    align-items: center;
    margin-bottom : 20px;
    /* justify-content: center; */
}

.task-input input{
    flex-grow: 1;
    padding : 8px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: transparent;
    outline:none;
}

.task-input button{
    padding : 10px;
    border-radius: 4px;
    border : none;
    background-color: rgb(48, 48, 243);
    color : white;
    margin-left : 10px;
    cursor: pointer;
}

.task-list{
   list-style-type : none;
   width: 100%;
   max-height: 400px;
   min-height: 200px;
   overflow: scroll ;
}

.task-list::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.task-list li{
    display: flex;
    justify-content: space-between;
    border : 1px solid #ccc;
    align-items: center;
    padding :10px;
    border: 1px solid #cccaaa;
    border-radius: 4px;
    margin-bottom: 10px;
}

.task-list li.completed input{
    text-decoration: line-through;
}

.task-list li .edit-task{
     flex-grow : 1;
     padding : 5px ;
     font-size: 16px;
     border-radius: 4px;
     border : none;
     margin-right : 5px;
     background-color: transparent;
     outline: none;
}

.task-list li .actions button{
    margin-left: 5px;
    padding : 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color :rgb(57, 57, 249);
    color : white;
    cursor: pointer;
}

footer{
    display : flex;
    justify-content: space-between;
    margin: 20px 0px 0px;
    align-items: center;
}

footer button{
    padding : 5px 10px;
    background-color: red;
    color : white;
    border : 1px solid #ccc;
    border-radius : 4px;
    cursor: pointer;
}

.app.dark{
    background-color: #222;
    color : white;
}

.app.dark .theme-btn{
    color : yellow;
}
.app.dark .task-input input{
    background-color: #444;
    color : white;
    outline: none;
    border: 1px solid #444;
}
.app.dark .task-input button{
    background-color: #555;
    color: white;
}

.app.dark .task-list li{
    border : 1px solid #555;
    background-color: #333;
}

.app.dark .edit-task{
    color : white;
}
.app.dark  .actions button ,
.app.dark footer button{
    background-color: #555;
    border : 1px solid #555;
}
